@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeue.woff2') format('woff2'),
       url('/fonts/HelveticaNeue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
       url('/fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
